<!-- { if session %} -->
    <html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Base{% endblock %}</title>
        <script>
            function collapse() {
                const elements = document.getElementsByName('expandable');
                for(let i = 0; i < elements.length; i++) {
                    elements[i].classList.toggle('expanded');
                }
            }
        </script>
    <link rel="stylesheet" href="css/base.css">
    {% block style %}
    <link rel="stylesheet" href="css/loggedOut.css">
    {% endblock %}
         
    </head>
    <body>
        <header>
            <li class="left">
                 <i class="material-icons" id="menu" onclick="collapse()">menu</i>      <!-- This is the hamburger menu icon. -->
                <img src="https://i.imgur.com/OehxIeA.png" onclick="location.href='/'"> <!-- This is the MyTube logo. -->
            </li>
            <li class="center">
                <form action="">
                    <input type="text" placeholder="Search..." />           <!-- This is the search bar. -->
                    <button><i class="material-icons">search</i></button>   <!-- This is the search button. -->
                    <i class="material-icons">mic</i>                       <!-- This is the mic icon. -->
                </form>
            </li>
            <li class="right">
                <i class="material-icons">videocam</i>
                <i class="material-icons">apps</i>
                <i class="material-icons">notifications</i>
                <i class="material-icons">account_circle</i> <!-- This is the profile icon. TODO: If logged in and they have a profile picture, use it. -->
            </li>
        </header>
        <main>
            <div class="side-bar" name="expandable">
                <div class="side-bar-links" name="expandable">
                    <a href="/home"> <!-- Ideally, these video are curated -->
                        <i class="material-icons">home</i> <!-- -->
                        <span>Home</span>
                    </a>
                    <a data-tooltip="explore" href="#"> <!--TODO: random videos fed to a homepage -->
                        <i class="material-icons">explore</i>
                        <span>Explore</span>
                    </a>
                    <a data-tooltip="upload" href="#"> <!-- TODO: Paste link to .mp4, or youtube video. If file, upload with youtube api and get link -->
                        <i class="material-icons">file_upload</i> <!-- A link to a video as .mp4 in a <video> --> <!--TODO: OR a youtube video in an <iframe> -->
                        <span>Upload</span>
                    </a>
                    <a data-tooptip="subscriptions" href="#"> <!-- TODO: all subscription video ordered by created_by -->
                        <i class="material-icons">subscriptions</i> <!-- A list of channels added to by clicking a button under a video. -->
                        <span>Subscriptions</span>
                    </a>
                    <a data-tooptip="inbox" href="#"> 
                        <i class="material-icons">inbox</i>
                        <span>Inbox</span>
                    </a>
                    <a datatooptip="watch later" href="#"> <!-- Display this playlist -->
                        <i class="material-icons">watch_later</i> <!-- A list of videos added to by clicking a button under a video. -->
                        <span>Watch Later</span>
                    </a>
                </div>
            </div>
            <div class="content" name="expandable">
                {% block content %}
                {% endblock %}
            </div>
        </main>
    </body>
    {% block footer %}
    {% endblock %}


<!-- { else %}
<video autoplay muted loop id="myVideo">
    <source src="https://assets.codepen.io/6093409/river.mp4" type="video/mp4">
</video>
<h1 id="text-center">All the videos*, all in one place</h1>
<h2><a href="{ url 'login' %}" id="LoginBtn">Login</a></h2>
{ endif %} -->



<!-- 

Block syntax will have an { extends 'base.html' %} at the top of the file.
then you can use the { block var %} tags to replace the content of the base.html file.
{ if %}, { else %}, { endif %}. { for a in A %}, { endfor %}. 

weirdly, will find jinja syntax inside comments too lol, so had to delete the % sign at the start of the comment.

-->